<a href="https://colab.research.google.com/github/rakesh4real/swift4tensorflow/blob/master/01_01_swift_basics_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Credits](https://www.hackingwithswift.com/read/0/)

# 1. Shell Commands

In [1]:
import Foundation

// Create shell func
@discardableResult
func shell(_ args: String...) -> Int32 {
    let task = Process()
    task.launchPath = "/usr/bin/env"
    task.arguments = args
    task.launch()
    task.waitUntilExit()
    return task.terminationStatus
}

// Run command(s) using shell func
shell("ls")
shell("pwd")

// Find version of swift

sample_data
/content

0

# 2. Variables and Constants

In [2]:
let a = 10
a = 20 // Not possible because constant

var b = 20
b = 10 // Possible because variable

: ignored

# 3. Types of Data

In [0]:
var Name : String
Name = "Swift"

In [0]:
var Year : Int
Year = 2014

In [0]:
var Version: Float
Version = 5.0

var VersionDouble: Double
VersionDouble = 5.00000000 // Higher precision than float

In [0]:
var TrueOrFlase : Bool
TrueOrFlase = true

In [7]:
Name = 1 // Error as 'String'

: ignored

In [0]:
// We can initialize variable
// without type and let Swift 
// decide the type
var name = "This is a string"

// we can initalize in one line as well
var name2 : String = "Written by Rakesh"

In [23]:
// Check data type
print( type(of: name2) )
print( type(of: Year) )
print( type(of: VersionDouble) )
print( type(of: TrueOrFlase) )

String
Int
Double
Bool

# 4. Operators

In [8]:
// + to add, - to subtract, * to multiply, / to divide, = to assign value,  % for reminder and so on
var a = 10
a += 10
print(a)

20

In [9]:
// String addition
var s1 = "This"
var s2 = "Swift"
print(s1 + " is " + s2)

This is Swift

In [10]:
// Greater than (>), greater than or equal (>=), and less than (<) and not(!)
print(a > 100)
print(a == 100)
print(a != 100)

false
false
true

# 5. String Interpolation

In [11]:
// Less convinient and even can't do : String + Int as below
print("Your name is " + Name + " and age is " + Year)

: ignored

In [12]:
// More convinient
print("Your name is \(Name) and age is \(Year)")

// Can  even calculate
print("Your name is \(Name) and age is \(2020 - Year)")

Your name is Swift and age is 2014
Your name is Swift and age is 6

# 6. Arrays

In [24]:
// Arrays with
// 1. Numbers
// 2. Strings
// 3. Mixed
var NumArr = [1, 2, 3]
var StrArr = ["one", "two", "three"]
var MixArr : [Any] = [1, 2, "three"] // `Any` is impt

// check
print( type(of: NumArr) )
print( type(of: StrArr) )
print( type(of: MixArr) )

Array<Int>
Array<String>
Array<Any>

In [17]:
// Access numeric indexed arrays
StrArr[0]

"one"

In [0]:
// Arrays with ONLY!!
// 1. Numbers
// 2. Strings
// 3. Mixed
var NumArr : [Double] = [1, 2, 3]
var StrArr : [String] = ["one", "two", "three"]
var MixArr : [Any] = [1, 2, "three"] // `Any` is impt

In [26]:
//  limited set of operators on arrays
var combine = NumArr + MixArr
print(combine)

[1.0, 2.0, 3.0, 1, 2, "three"]

# 7. Dictionaries

In [31]:
var MyDict = [
  "first" : "Swift",
  "middle" : "by",
  "last" : "Apple"
]

print("This is \(MyDict["first"]) \(MyDict["middle"]) \(MyDict["last"])")

This is Optional("Swift") Optional("by") Optional("Apple")

# 8. Conditional Statements

In [32]:
// if, else, else if

if true && false{
  print("This shouldn't have been printed")
} else {
  print("Correct!")
}

Correct!

# 9. Loops

In [40]:
// For loop - numbers
for i in 1...3 {
  print(i) 
}

1
2
3

In [37]:
// For loop - strings
for i in "hello" {
  print(i)
}

h
e
l
l
o

In [39]:
// For loop - arrays
for i in ["one", "two"]{
  print(i)
}

one
two

In [38]:
// '_' doesn't take space
// Hence, cant use it in loop body 
for _ in 1...2{
  print("Hi")
}

Hi
Hi

In [41]:
// less than
for _ in 1..<2{
  print("Hi")
}

Hi

In [43]:
// While loop
while true{
  print("line")
  // update statement
  // continue
  break
}

line

In [46]:
// repeat while loop 
repeat{
  print("Hi")
  break
}while(true)

Hi

# 10. Switch Case

In [48]:
let label = 10

// No need for 'break'
switch label{
  case 10: 
    print("10")
  default: 
    print("error")
}

10

In [50]:
// In swift!!
let label = 10.5

switch label{
  case 10...11: 
    print("between 10 and 11")
  default: 
    print("error")
}

between 10 and 11